body {
  margin: 0;
}

.page {
    height: 100vh;
    text-align: center;
    /* margin: 0 auto; */
    position: relative;
    background-color: salmon;
   
}

.title {
  padding-top: 30vh;
}

.number__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.number__field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;

}

.number-label {
  margin: 10px 0;
}

.button {
  width: 100%;
  margin-top: 10px;
  
}

.clue {
  border: 5px solid blue;
  margin: 20px 10px 0 10px;
  
}

.italic-text {
  font-style: italic;
}

.attemps {

  position: absolute;
  top: 0;
  right: 60px;
  color: red;
  font-size: 40px;
}


/* .head {
    background: #fc0;
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100px;
  }
  .face {
    font-family: 'courier new', serif;
    font-size: 2.5em;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%) rotate(90deg);
  } */